/*footer*/

.foot {
    text-align: center;
    font-family: $fontfamily;
    font-size: 15px;
    background-color: $green;
    color: white;
    height: 25px;
    padding-top: 20px;
    text-decoration: double;
    width: 100%;
    border-radius: 8px;
}